<div class="container p-4">
    <i class="fa-brands fa-teamspeak fa-10x"></i>
    <div class="jumbotron p-4">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>

        <div class="text-start">
            <p style="font-size:22px">
                <i class="fa-solid fa-envelope"></i>
                <email endereco="lucasandrade595@gmail.com" conteudo="Enviar um e-mail"></email> @*Utilizando a tag helper email criada*@
            </p>
        </div>

        <div class="text-start">
            <p style="font-size:22px">
                <i class="fa-solid fa-phone"></i> (11) 9874-5566
            </p>
        </div>

        <div class="text-start">
            <p style="font-size:22px">
                <i class="fa-solid fa-house"></i>
                Av. Juscelino Kubichek 1000 - 03540-550 - São Paulo
            </p>
        </div>
    </div>
</div>