<br />
<i class="fa-solid fa-computer fa-10x"  style="color:#FF0000"></i>
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Esta é a área do Administrador
                <i class="fa-solid fa-triangle-exclamation fa-1x" style="color:#FFD700"></i>
            </h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Home Page</a>
</div>