@{
    ViewData["Title"] = "Home page"; //Define o nome que aparece na aba
}
<h1 class="display-4">Welcome Lucas</h1>

<partial name="_Carousel" /> @*Chama uma partial view que pode ser usada em outras telas*@
